*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e6e6ea;
}
.container{
    padding: 20px;
    overflow: hidden;
    background-color: #fe4a49;

}
 .container h1{
    float: left;
    margin-left: 10px;
    color: white;
    text-align: center;

}
.container ul{
    list-style-type: none;
    font-size: 20px;
    margin-left: 80px;
    /* margin-left: 70px; */
}
.container ul li{
    margin-top: 10px;
    float: left;
    padding: 0 20px 0 20px;
    
}
.container ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;

}
.current a::after{
    content: '-';
    background-color: white;
    font-size: 4px;
    display: block;

}
.wrapper{
    display: grid;
    grid-template-columns: 82% 18%;
}
.equation{
    font-size: 67px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    padding-top: 15%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.equation h1{
    display: inline;
    padding: 20px;
}
.answer{
    font-size: 67px;
    margin-right: 10px;

}
.answer h1{
    cursor: pointer;
    color: whitesmoke;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
width: 100%;
}
 .answer .option1{
   background-color: #fe4a49;
    transition: 1s;
}
.answer .option1:hover{
    color: #fe4a49;
    background-color: white;
}
.answer .option2{
    background-color: #2ab7ca;
    transition: 1s;
}
.answer .option2:hover{
    color: #2ab7ca;
    background-color: white;
}
.answer .option3{
    background-color: #fed766;
    transition: 1s;
}
.answer .option3:hover{
    color: #fed766;
    background-color: white;
}
@media (max-width:600px) {
    body{
       
    }
   .container{
   width: 100%;
   overflow: hidden;
   display: flex;
   padding: 15px;
   flex-direction: column;
   justify-content: start;
   
   
   }
   ul{
    display: flex;
    gap: 10px;
   }
   .container ul li{
    margin-top: 10px;
    float: left;
    padding: 0 ;
    
}
.container ul{
    list-style-type: none;
    font-size: 20px;
    margin-left: 0;
    /* margin-left: 70px; */
}
.wrapper{
    display: grid;
    grid-template-columns: 80% 20%;
    
}
.equation{
    font-size: 16px;
    background-color: white;
    border-radius: 3px;
    text-align: left;
    padding-top: 15%;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.equation h1{
    display: inline;
    padding: 20px;
}
.answer{
    font-size: 30px;
    margin-right: 10px;

}
.answer h1{
    cursor: pointer;
    color: whitesmoke;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
width: 100%;
}
}